<table>
  <tr>
    <td>
      <button class="btn btn-primary" routerLink="developer">Developers</button>
    </td>
    <td>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
    </td>
  </tr>
</table>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>TO DO</h2>
    <div cdkDropList
         #todoList="cdkDropList"
         [cdkDropListData]="bugsTODO"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of bugsTODO | filter:searchText | async" cdkDrag>
        {{item.title | json}} {{item.description | json}} {{item.dateCreation | json}} {{item.id_developer | json}}
        <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                 routerLink="['bug', item.id_bug]"
                data-backdrop="static" data-keyboard="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg>
          </button>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>IN PROGRESS</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="bugsINPROGRESS"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of bugsINPROGRESS | filter:searchText | async" cdkDrag>
        {{item.title | json}} {{item.description | json}} {{item.dateCreation | json}} {{item.id_developer | json}}
        <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                 routerLink="['bug', item.id_bug]"
                data-backdrop="static" data-keyboard="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg>
          </button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>DONE</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="bugsDONE"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of bugsDONE | filter:searchText | async" cdkDrag>
        {{item.title | json}} {{item.description | json}} {{item.dateCreation | json}} {{item.id_developer | json}}
        <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                 routerLink="['bug', item.id_bug]"
                data-backdrop="static" data-keyboard="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg>
          </button>
</div>
    </div>
  </div>
</div>






