<div class="form-froup row" *ngIf="dev.id_developer==0">


  <label class="col-sm-3 col-form-label">Developer Name</label>
  <div class="col-sm-7">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter Developer Name" />
  </div>

  <label class="col-sm-3 col-form-label">Developer Avatar</label>
  <div class="col-sm-7">
    <input type="text" class="form-control" [(ngModel)]="avatar" placeholder="Enter Developer Avatar" />
  </div>
</div>


<button (click)="addDeveloper()" *ngIf="dev.id_developer==0" class="btn btn-primary">
  Add
</button>



<div class="form-froup row" *ngIf="dev.id_developer!=0">
  <label class="col-sm-3 col-form-label">Developer Avatar</label>
  <div class="col-sm-7">
    <input type="text" class="form-control" [(ngModel)]="avatar" placeholder="Enter Developer Avatar" />
  </div>
</div>





<button (click)="updateDeveloper()" *ngIf="dev.id_developer!=0" class="btn btn-primary">
  Update
</button>

